<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Authorization Server sample</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
</head>
<body>
<div th:replace="~{page-templates :: navbar}"></div>
<div class="container">
	<h6>hasRole:</h6>
	<ul>
		<li sec:authorize="hasRole('USER')">[ROLE_USER]</li>
		<li sec:authorize="hasRole('STAFF')">[ROLE_STAFF]</li>
		<li sec:authorize="hasRole('ADMIN')">[ROLE_ADMIN]</li>
	</ul>
	<ul>
		<li sec:authorize="hasAuthority('OIDC_USER')">[OIDC_USER]</li>
		<li sec:authorize="hasAuthority('SCOPE_openid')">[SCOPE_openid]</li>
		<li sec:authorize="hasAuthority('SCOPE_profile')">[SCOPE_profile]</li>
		<li sec:authorize="hasAuthority('SCOPE_email')">[SCOPE_email]</li>
		<li sec:authorize="hasAuthority('SCOPE_address')">[SCOPE_address]</li>
		<li sec:authorize="hasAuthority('SCOPE_phone')">[SCOPE_phone]</li>
	</ul>
	<dl>
		<dt>name:</dt>
		<dd sec:authentication="name" />
		<dt>authorizedClientRegistrationId:</dt>
		<dd sec:authentication="authorizedClientRegistrationId" />
		<dt>principal:</dt>
		<dd sec:authentication="principal" />
		<dt>principal.class:</dt>
		<dd sec:authentication="principal.class" />
		<dt>principal.claims:</dt>
		<dd sec:authentication="principal.claims" />
		<dt>principal.claims['role']:</dt>
		<dd sec:authentication="principal.claims['role']" />
		<dt>principal.idToken.tokenValue:</dt>
		<dd sec:authentication="principal.idToken.tokenValue" />
		<dt>principal.userInfo:</dt>
		<dd sec:authentication="principal.userInfo" />
		<dt>principal.userInfo.claims:</dt>
		<dd sec:authentication="principal.userInfo.claims" />
		<dt>credentials:</dt>
		<dd sec:authentication="credentials" />
		<dt>authorities:</dt>
		<dd sec:authentication="authorities" />
		<dt>details:</dt>
		<dd sec:authentication="details" />
		<dt>accessToken.tokenValue:</dt>
		<dd th:text="${authorizedClient.accessToken.tokenValue}"></dd>
		<dt>refreshToken.tokenValue:</dt>
		<dd th:text="${authorizedClient.refreshToken.tokenValue}"></dd>
	</dl>
    <div th:replace="~{page-templates :: error-message}"></div>
    <div th:replace="~{page-templates :: message-list}"></div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="/webjars/popper.js/umd/popper.js" th:src="@{/webjars/popper.js/umd/popper.js}"></script>
</body>
</html>
